<launch>
  <param name="/use_sim_time" value="true"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find pioneer_2dnav)/maps/wafr_test1.yaml" respawn="false" output="screen">
    <param name="frame_id" value="/map" />
  </node>
  <group ns="robot1">
    <include file="$(find gazebo_exploration)/launch/move_base.launch" >
      <arg name="init_x" value="0" />
      <arg name="init_y" value="0" />
      <arg name="robot_name"  value="robot1" />
    </include>
    <include file="$(find technologicExploration)/src/laser_filter.launch"/>
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server">
    
    <param name="target_frame_name" value="/map" />

    <param name="source_frame_name" type="string" value="/robot1/base_link" />

  </node>
   <node pkg="technologicExploration" type="distance_time_robot1.py" name="distance_time_robot1"/>
  </group>

  <group ns="robot2">
    <include file="$(find gazebo_exploration)/launch/move_base.launch" >
      <arg name="init_x" value="1" />
      <arg name="init_y" value="0" />
      <arg name="robot_name"  value="robot2" />
    </include>
    <include file="$(find technologicExploration)/src/laser_filter.launch"/>
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server">
    
    <param name="target_frame_name" value="/map" />

    <param name="source_frame_name" type="string" value="/robot2/base_link" />

  </node>
   <node pkg="technologicExploration" type="distance_time_robot1.py" name="distance_time_robot1"/>
  </group>

  <group ns="robot3">
    <include file="$(find gazebo_exploration)/launch/move_base.launch" >
      <arg name="init_x" value="1" />
      <arg name="init_y" value="1" />
      <arg name="robot_name"  value="robot3" />
    </include>
    <include file="$(find technologicExploration)/src/laser_filter.launch"/>
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server">
    
    <param name="target_frame_name" value="/map" />

    <param name="source_frame_name" type="string" value="/robot3/base_link" />

  </node>
   <node pkg="technologicExploration" type="distance_time_robot1.py" name="distance_time_robot1"/>
  </group>

  <group ns="robot4">
    <include file="$(find gazebo_exploration)/launch/move_base.launch" >
      <arg name="init_x" value="0" />
      <arg name="init_y" value="1" />
      <arg name="robot_name"  value="robot4" />
    </include>
    <include file="$(find technologicExploration)/src/laser_filter.launch"/>
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server">
    
    <param name="target_frame_name" value="/map" />

    <param name="source_frame_name" type="string" value="/robot4/base_link" />

  </node>
   <node pkg="technologicExploration" type="distance_time_robot1.py" name="distance_time_robot1"/>
  </group>


 <node pkg="beginner_tutorials" type="scan2pcl1" name="scan2pcl1"/>
 <node pkg="beginner_tutorials" type="scan2pcl2" name="scan2pcl2"/>
 <node pkg="beginner_tutorials" type="scan2pcl3" name="scan2pcl3"/>
 <node pkg="beginner_tutorials" type="scan2pcl4" name="scan2pcl4"/>

 <node pkg="technologicExploration" type="robot1_pose_publisher.py" name="robot1_pose_publisher.py"/>
 <node pkg="technologicExploration" type="robot2_pose_publisher.py" name="robot2_pose_publisher.py"/>
 <node pkg="technologicExploration" type="robot3_pose_publisher.py" name="robot3_pose_publisher.py"/>
 <node pkg="technologicExploration" type="robot4_pose_publisher.py" name="robot4_pose_publisher.py"/>

<include file="$(find octomap_server)/launch/octomap_mapping.launch" />
</launch>
